$c-p-red: hsl(1, 90%, 64%);
$c-p-blue: hsl(219, 85%, 26%);

$c-n-white: hsl(0, 0%, 100%);

$c-n-very-light-grayish-blue: hsl(210, 60%, 98%);

$c-n-light-grayish-blue-1: hsl(211, 68%, 94%);

$c-n-light-grayish-blue-2: hsl(205, 33%, 90%);

$c-n-grayish-blue: hsl(219, 14%, 63%);

$c-n-dark-grayish-blue: hsl(219, 12%, 42%);

$c-n-very-dark-blue: hsl(224, 21%, 14%);

$fw-regular: 500;
$fw-bold: 800;

$ff-jakarta: "Plus Jakarta Sans", sans-serif;


