@import "./sass_styles/variables";
@import "./sass_styles/mixin";

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: $ff-jakarta;
}

#root{
    // min-height: 100vh;
    background-color: $c-n-light-grayish-blue-1;
    // @include flexCenter(column);

}

@media screen and (min-width: 50em){
    #root{
        @include flexCenter(column);
        min-height: 100vh;
    }
}


